<section class="contact-section" id="contact" data-bg="green">
  <div class="container contact-container">
    <h2 class="contact-h2"> Contact & Support</h2>
    <p class="contact-text">Need help or want to share feedback?</p>
    <p class="contact-email">
      Email us at:
      <a class="contact-email-link" href="mailto:info@rushpulse.online"
        >info@rushpulse.online</a
      >
    </p>
    <svg class="contact-email-svg"><use href="/sprite.svg#mail"></use></svg>
    <p class="contact-text">We’d love to hear from you!</p>
  </div>
</section>
