<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content-container">
      <div class="links-div">
        <a class="footer-link" href="./terms-conditions.html"
          >Terms and Conditions</a
        >
        <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a>
        <a class="footer-link" href="./cookies.html">Cookie Policy</a>
      </div>
      <p class="footer-all-rights">
        © 2025 RushPulse Games. All rights reserved.
      </p>

      <p class="footer-pizza-rush">
        Pizza Rush and all associated content are trademarks of RushPulse<br />
        Games.<br />
        For support, press, or business inquiries, contact:
        <a class="footer-link" href="mailto:info@rushpulse.online"
          >info@rushpulse.online</a
        >
        <br />
        Website powered by RushPulse Studios
      </p>
    </div>
  </div>
  <div class="cookies-container" data-cookie-banner hidden>
    <p class="cookies-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-buttons">
      <button class="cookies-decline" data-cookie-decline>
        DECLINE COOKIES
      </button>
      <button class="cookies-accept" data-cookie-accept>ACCEPT COOKIES</button>
    </div>
  </div>
</footer>
