<section class="game-info-section" id="game-info" data-bg="green">
  <div class="container game-info-container">
    <h2 class="game-info-h2">Technical Details</h2>
    <div class="game-info-contain-div">
      <p class="game-info-p game-info-p1">Version: 0.0.2</p>
      <p class="game-info-p game-info-p2">Last Updated: August 29, 2024</p>
      <p class="game-info-p game-info-p3">Game Category: Casual / Arcade</p>
      <p class="game-info-p game-info-p4">Requires Android: 8.0 and up</p>
      <p class="game-info-p">Downloads: 1,000+</p>
    </div>
  </div>
</section>
