<div class="mobile-menu" data-mobile-menu data-state="closed">
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a href="#about" class="mobile-menu-link" data-action="close-menu"
        >About</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#features" class="mobile-menu-link" data-action="close-menu"
        >Features</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#how-to-play" class="mobile-menu-link" data-action="close-menu"
        >How to Play</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#game-modes" class="mobile-menu-link" data-action="close-menu"
        >Game Modes</a
      >
    </li>
    <li class="mobile-menu-item">
      <a
        href="#why-youll-love-it"
        class="mobile-menu-link"
        data-action="close-menu"
        >Why You'll Love It</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#upgrades" class="mobile-menu-link" data-action="close-menu"
        >Upgrades</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#tips" class="mobile-menu-link" data-action="close-menu">Tips</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#reviews" class="mobile-menu-link" data-action="close-menu"
        >Reviews</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#community" class="mobile-menu-link" data-action="close-menu"
        >Community</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#game-info" class="mobile-menu-link" data-action="close-menu"
        >Game Info</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#play-now" class="mobile-menu-link" data-action="close-menu"
        >Play Now</a
      >
    </li>
    <li class="mobile-menu-item">
      <a href="#contact" class="mobile-menu-link" data-action="close-menu"
        >Contact</a
      >
    </li>
  </ul>
</div>
