<section class="play-now-section" id="play-now" data-bg="green">
  <div class="play-now-wrapper">
    <div class="container play-now-container">
      <h2 class="play-now-h2">
        Do You Have What It Takes to Handle the Pizza Rush?
      </h2>
      <p class="play-now-p">
        Join the delivery frenzy and rise through the pizza ranks. Serve fast,
        upgrade smart, and dominate the kitchen.
      </p>
      <a
        class="play-now-link"
        target="_blank"
        rel="noopener noreferrer"
        href="https://play.google.com/store/apps/details?id=com.yamystudio.pizzarush&hl=en&gl=us"
      >
        <svg class="play-now-svg"><use href="/sprite.svg#link"></use></svg>
      </a>
    </div>
  </div>
</section>
