<section
  class="why-youll-love-it-section"
  id="why-youll-love-it"
  data-bg="green"
>
  <div class="container love-pizza-container">
    <div class="love-pizza-text-container">
      <h2 class="love-pizza-title">Why You'll Love Pizza Rush</h2>
      <ul class="love-pizza-list">
        <li class="love-pizza-item">
          Addictive gameplay loop perfect for quick sessions
        </li>
        <li class="love-pizza-item">
          Polished visuals and satisfying kitchen animations
        </li>
        <li class="love-pizza-item">
          An ever-growing challenge that keeps you coming back
        </li>
        <li class="love-pizza-item">
          A perfect blend of stress, strategy, and satisfaction
        </li>
        <li class="love-pizza-item">
          Built for both casual players and fast-tap pros
        </li>
      </ul>
    </div>
    <picture class="love-pizza-image"
      ><source
        srcset="/img/pizza-phone1x.webp 1x, /img/pizza-phone2x.webp 2x"
        type="image/webp" />
      <img
        src="/img/pizza-phone1x.webp"
        srcset="/img/pizza-phone1x.webp 1x, /img/pizza-phone2x.webp 2x"
        alt="Colorful mobile game screen showing a cheerful chef tossing a pizza, with the title 'Pizza Rush' and a pizza café in the background, while a red scooter with pizza boxes waits on the road."
        loading="lazy"
        decoding="async"
        width="339"
        height="703"
    /></picture>
  </div>
</section>
