.features-section {
  padding-bottom: 144px;
  scroll-margin-top: 100px;
}
.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-title {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: var(--white);
}
.features-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.features-pizza-slice {
  width: 286px;
  height: 243px;
  background-image: url('/img/slice-bg.webp');
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0 0px 0px rgba(154, 17, 32, 0.11))
    drop-shadow(0 1px 1px rgba(154, 17, 32, 0.18))
    drop-shadow(0 2px 2px rgba(154, 17, 32, 0.23))
    drop-shadow(0 4px 3px rgba(154, 17, 32, 0.28))
    drop-shadow(0 6px 6px rgba(154, 17, 32, 0.35))
    drop-shadow(0 10px 10px rgba(154, 17, 32, 0.46));
}
.features-pizza-slice-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 6px;
}
.features-pizza-icon {
  fill: var(--white);
  margin-bottom: 12px;
}
.features-pizza-title {
  width: 148px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  margin-bottom: 4px;
}
.features-pizza-text {
  width: 148px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--white);
}
.features-pizza-slice:nth-child(3) .features-pizza-text {
  width: 160px;
}
.features-pizza-slice:nth-child(3) .features-pizza-icon {
  margin-top: 24px;
}

@media only screen and (min-width: 1200px) {
  .features-section {
    scroll-margin-top: 140px;
  }
  .features-title {
    margin-bottom: 34px;
  }
  .features-pizza {
    position: relative;
    display: block;
    width: 870px;
    height: 870px;
    border-radius: 50%;
  }
  .features-pizza-slice {
    clip-path: polygon(55% -8%, -10% 82%, 12% 110%, 57% 110%, 113% 100%);
    position: absolute;
    top: 59%;
    left: 55%;
    transform-origin: center center;
    width: 447px;
    height: 378px;
    background-image: url('/img/slice-bg.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 10px 10px rgba(154, 17, 32, 0.46));
    transition: all 0.3s ease-in-out;
    will-change: scale, transform;
  }

  .features-pizza-slice:nth-child(1) {
    transform: rotate(141deg) translate(3%, 154%);
  }
  .features-pizza-slice:nth-child(1):hover {
    scale: 1.05;
    transform: rotate(141deg) translate(1%, 160%);
  }
  .features-pizza-slice:nth-child(1) .features-pizza-slice-content {
    transform: rotate(-141deg) translate(-10%, -10%);
  }

  .features-pizza-slice:nth-child(2) {
    transform: rotate(213deg) translate(77.5%, 76.5%);
  }
  .features-pizza-slice:nth-child(2):hover {
    scale: 1.05;
    transform: rotate(213deg) translate(72.5%, 86.5%);
  }
  .features-pizza-slice:nth-child(2) .features-pizza-slice-content {
    transform: rotate(-213deg) translate(10%, -10%);
  }

  .features-pizza-slice:nth-child(3) {
    transform: rotate(285deg) translate(36.5%, -31.5%);
  }
  .features-pizza-slice:nth-child(3):hover {
    scale: 1.05;
    transform: rotate(285deg) translate(34.5%, -18.5%);
  }
  .features-pizza-slice:nth-child(3) .features-pizza-slice-content {
    transform: rotate(-285deg) translate(15%, 0%);
  }

  .features-pizza-slice:nth-child(4) {
    transform: rotate(-3deg) translate(-63%, -19%);
  }
  .features-pizza-slice:nth-child(4):hover {
    scale: 1.05;
    transform: rotate(-3deg) translate(-59%, -7%);
  }
  .features-pizza-slice:nth-child(4) .features-pizza-slice-content {
    transform: rotate(3deg);
  }

  .features-pizza-slice:nth-child(5) {
    transform: rotate(69deg) translate(-83%, 96%);
  }
  .features-pizza-slice:nth-child(5):hover {
    scale: 1.05;
    transform: rotate(69deg) translate(-83%, 110%);
  }
  .features-pizza-slice:nth-child(5) .features-pizza-slice-content {
    transform: rotate(-69deg) translate(-5%, 0%);
  }
  .features-pizza-icon {
    width: 75px;
    height: 75px;
  }
  .features-pizza-title {
    width: 202px;
  }
  .features-pizza-text {
    width: 202px;
  }
  .features-pizza-slice:nth-child(3) .features-pizza-text {
    width: 202px;
  }
}
